doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')/
    title= meta.title
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='#{meta.desc}')
    link(rel='stylesheet' href='css/style.css')
    link(
      href='https://fonts.googleapis.com/css?family=Fira+Sans:500,300,400,400italic'
      rel='stylesheet'
      type='text/css'
    )
  body(data-spy='scroll' data-target='#d-navbar')
    != yield
    script(src='build/script.js')