mixin componentActions(owner, id, version)
  ul.d-component-actions
    li
      i.ion-ios-book-outline
      a.d-component-actions-docs(href='https://github.com/#{owner}/#{id}/tree/#{version}/README.md' target='_blank')
        | Docs
    li
      i.ion-document
      a.d-component-actions-changelog(href='https://github.com/#{owner}/#{id}/tree/#{version}/CHANGELOG.md' target='_blank')
        | Changelog
    li
      i.ion-ios-albums-outline
      a.d-component-actions-versions(href='#{id}')
        | All Versions
    li
      i.ion-bug
      a.d-component-actions-issues(href='https://github.com/#{owner}/#{id}/issues' target='_blank')
        | Issues
    li
      i.ion-social-github
      a.d-component-actions-repo(href='https://github.com/#{owner}/#{id}' target='_blank')
        | Repository
