- version = 'v0.3.8'
nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  a.navbar-brand IPFS distributions

.container
  .row
    .col-md-2
      .d-sidebar
        ul.nav#d-navbar: each value, key in public.releases
          li.d-sidebar-item.nav-item
            a.d-sidebar-link.nav-item(href='##{key}')= key
    .col-md-10: each value, key in public.releases
      .d-component
        - data = value._data
        .d-component-desc.row
          .col-md-8
            h1.d-component-desc-title
              = data.name
            h2.d-component-desc-sub-title
              = data.tagline
            .d-component-desc-body
              != partial('releases/' + key + '/index')
          .d-component-asset.col-md-4
            a(href="https://asciinema.org/a/#{data.ascii}" target='_blank')
              img(src="https://asciinema.org/a/#{data.ascii}.png" width='260')

        .d-component-release.row
          .col-md-4
            h3.d-component-version= data.version
            h4.d-component-release-date January 1, 2016
            .d-component-actions
              a.d-component-actions-docs(href="https://github.com/ipfs/#{data.id}/tree/#{data.version}/README.md" target='_blank')
                | Docs
              a.d-component-actions-changelog(href="https://github.com/ipfs/#{data.id}/tree/#{data.version}/CHANGELOG.md" target='_blank')
                | Changelog
              a.d-component-actions-versions(href="#{data.id}")
                | All Versions
          .col-md-8
            table.table.d-download-table
              tbody
                for p in data.platforms
                  - colspan = 6 / p.archs.length
                  tr
                    th= p.name
                    for arch in p.archs
                      td(colspan="#{colspan}")
                        a(href="#{data.releaseLink}/#{arch.link}")= arch.name
