include ./_mixins.jade

include ./_header.jade

- targetMap = {'386': '32-bit', 'amd64': '64-bit', 'arm': 'ARM'}
- architectureMap = {'darwin Binary': 'Mac OS X Binary', 'freebsd Binary': 'FreeBSD Binary', 'linux Binary': 'Linux Binary', 'windows Binary': 'Windows Binary'}

.container
  .row
    #about.d-about.col-md-8.col-md-offset-2
      include:markdown ./_about.md
  .row
    .d-sidebar-wrapper.col-md-2.sticky.navbar-offcanvas#d-navbar-offcanvas
      .d-sidebar
        ul.nav#d-navbar
          li.d-sidebar-item.nav-item
            a.d-sidebar-link.nav-link(href='#about') About
          each value, key in public.releases
            li.d-sidebar-item.nav-item
              a.d-sidebar-link.nav-link(href='##{key}')= key
    .col-md-10: each value, key in public.releases
      .d-component(id='#{key}')
        - data = value._data
        .d-component-desc.row
          .col-md-7
            h1.d-component-desc-title
              = key
            h2.d-component-desc-sub-title
              = data.tagline
            .d-component-desc-body
              != partial('releases/' + key + '/index')
          .d-component-asset.col-md-4.col-md-offset-1
            a(
              href=''
              data-id='#{key}'
              data-version='#{data.version}'
            ).d-component-download-btn.btn.btn-primary
              = 'Download ' + key
            .d-component-download-alternative
              .d-component-arch
              .d-component-not Not your platform? See below for alternatives
        .d-component-release.row
          .col-md-4
            h3.d-component-version= data.version
            h4.d-component-release-date January 1, 2016
            +componentActions(data.owner, data.id, data.version)
          .col-md-8
            table.table.d-download-table
              tbody
                for p in data.platforms
                  - colspan = 6 / Object.keys(p.archs).length
                  tr
                    th= architectureMap[p.name]
                    for arch, target in p.archs
                      td(colspan='#{colspan}')
                        - link = data.releaseLink.replace(/^\//, '') + arch.link
                        a.download(href='#{link}')= targetMap[target]
                        | &nbsp;
                        a.signature(href='#{link}.asc') [sig]

include ./_footer.jade
